{% extends "_public.html" %}
{% block title %}allitom Groupon Redemption Confirmation{% endblock %}
{% block content %}
        <div class="content">
            <img class="logo" src="/img/logo_solid.png" alt="allitom" />
            <h1>Thanks for your order!</h1>
            <p>
                Our shipping department is working on your order and it will be processed in 1-2 business days.<br />
                An email confirmation with tracking information will be sent to the email you provided.<br /><br />
                Thanks,<br />
                alitom<br />
                <a href="mailto:tboudrie@allitom.com">tboudrie@allitom.com</a>
            </p>
        </div>
{% endblock %}
