<div style="width: 100%;">
    {% if paging_info.total_rows > 0 %}
    <div><a href="/admin/exportall/shipped">Export</a></div>
    <div class="divTable blueTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">Product Name</div>
                <div class="divTableHead">Code</div>
                <div class="divTableHead">First Name</div>
                <div class="divTableHead">Last Name</div>
                <div class="divTableHead">Address 1</div>
                <div class="divTableHead">Address 2</div>
                <div class="divTableHead">City</div>
                <div class="divTableHead">State</div>
                <div class="divTableHead">Postal Code</div>
                <div class="divTableHead">Phone</div>
                <div class="divTableHead">Email</div>
                <div class="divTableHead">Tracking</div>
                <div class="divTableHead">Created</div>
                <div class="divTableHead">Updated</div>
            </div>
        </div>
        <div class="divTableBody">
            {% for shipped_item in shipped_items %}
            <div class="divTableRow">
                <div class="divTableCell">{{shipped_item.productRef}}</div>
                <div class="divTableCell">{{shipped_item.redeemCode}}</div>
                <div class="divTableCell">{{shipped_item.firstName}}</div>
                <div class="divTableCell">{{shipped_item.lastName}}</div>
                <div class="divTableCell">{{shipped_item.address1}}</div>
                <div class="divTableCell">{{shipped_item.address2}}</div>
                <div class="divTableCell">{{shipped_item.city}}</div>
                <div class="divTableCell">{{shipped_item.state}}</div>
                <div class="divTableCell">{{shipped_item.postalCode}}</div>
                <div class="divTableCell">{{shipped_item.phone}}</div>
                <div class="divTableCell">{{shipped_item.email}}</div>
                <div class="divTableCell">{{shipped_item.tracking}}</div>
                <div class="divTableCell">{{shipped_item.created}}</div>
                <div class="divTableCell">{{shipped_item.updated}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="blueTable outerTableFooter">
        <div class="tableFootStyle">
            <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
        </div>
    </div>
    {% else %}
        No items have been shipped yet.
    {% endif %}
</div>