<div style="width: 300px;">
    {% if paging_info.total_rows > 0 %}
    <div class="divTable blueTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">Product Name</div>
                <div class="divTableHead">Code</div>
            </div>
        </div>
        <div class="divTableBody">
            {% for unused_code in unused_codes %}
            <div class="divTableRow">
                <div class="divTableCell">{{unused_code.productRef}}</div>
                <div class="divTableCell">{{unused_code.redeemCode}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="blueTable outerTableFooter">
        <div class="tableFootStyle">
            <div class="links">
                <a href="#">&laquo;</a>
                {% for nav_item in paging_info.tab_paging_nav_items %}
                <a {% if nav_item.page_number == paging_info.current_page %}class="active" {% endif %}href="{{nav_item.as_query_params}}">{{nav_item.page_number}}</a>
                {% endfor %}
                <a href="#">&raquo;</a></div>
        </div>
    </div>
    {% else %}
        No codes are currently available.
    {% endif %}
</div>